body {
  margin: 0;
  font-family: 'EBGaramond', serif;
}
.my-sticky {
  position: sticky;
  top: 20px;                     /* 상단에 고정 */
    background: transparent;        /* 배경 없으면 아래 내용이 비쳐서 겹쳐 보임 */
  z-index: 9999;             /* 위에 뜨게 */
  margin-left: 20px;
}

.center-box {
    margin-left: 20px;
    font-size: 30px;
    margin-top: 20px;
}

.name {
    text-align: right;
    margin-top: 650px;
    margin-bottom: 400px;
    margin-right: 20px;
    font-size: 30px;
}

h1 {
    font-size: 30px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
  margin-top: 20px;
  line-height: 16pt;
  max-width: 600px;
  
}

img {
  width: 600px;
  height: auto;
}

.photo-group img {
  width: 200px !important;
}

.link-list {
    position: fixed;
    bottom: 0px;     
    z-index: 9999;
    background: transparent;
    padding: 10px 0;
}

.link-list p {
    margin-left: 20px;
    display: inline-block;
    margin-right: 12px;
    font-size: 30px;
}

  /* 전체 목록 아래 큰 여백 */
.link-list {
    margin-bottom: 20px;
}